[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
django = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
pycodestyle = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
toml = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
